# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Shared Uploads (Keeps the folder, ignores uploaded files)
uploads/*
!uploads/.gitkeep

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.bak

# Shared text & notes
shared_notes.json
data/*
!data/.gitkeep
